body {
	height: 100vh;
	background: #EEE url(../images/bg.png) no-repeat top left;
}
header+div.container {
	background-color: RGBA(183, 183, 183, .5);
	border-radius: 10px;
	height: 86vh;
}

.container > .row {
	margin-top: 20em;
}
#play-ground {
	text-align: center;
}
#dice2 {
	margin-right: 0;
}
